/*
* page/home
*/

#splash {
  .hero {
    padding-top: 50px;
  }
}

#services {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: -20px;
  .service {
    text-align: center;
    padding:0 15px 20px 15px;
  }
}
