/*
* components/accordion
*/

@charset "UTF-8";

.accordion-group {
   border:1px solid #eeeeee;
   border-bottom: none;
   & .accordion {
      background: white;
      &.active {
         & .accordion-body {
            display: inherit;
         }
      }
      &:last-child .accordion-body {
         border:none;
      }
      & h4.accordion-title {
         font-size : 18px;
         padding: 0;
         margin: 0;
         line-height: 22px;
         & a {
            display: block;
            padding: 15px 20px;
            border-bottom:1px solid #eeeeee;
         }
      }
      & .accordion-body {
         border-bottom:1px solid #eeeeee;
         display: none;
         padding: 15px 20px;
      }
   }
}
