/*
* components/breadcrumbs
*/

#breadcrumbs {
  background-color: darken(#337ab7, 5%);
  padding:10px 0;
  color: white;
  ol {
    list-style: none;
    padding:0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    @include respond-to(small) {
      text-align: center;
      justify-content: center;
    }
  }
  li {
    margin-left:5px;
    margin-right:5px;
    padding-bottom: 0;
    & + li {
      &::before {
        content:" › ";
        margin-right: 5px;
      }
    }
    a {
      color: lighten($theme-color, 15%)
    }
  }
}
