/*
* components/card
*/

@charset "UTF-8";

.card {
   background: white;
   @include box-shadow($shadow);
   @include border-radius(3px);
   margin-bottom: 20px;
   @include transition(box-shadow .2s);
   & .card-body {
      padding: 30px;
      & .card-title {
         margin-bottom: 20px;
      }
   }
}

a .card {
   color : $default-text-color;
   & img {
      opacity: 1;
      @include transition(all .5s);
   }
}

a:hover .card, a:active .card, a:focus .card {
   @include box-shadow(0px 2px 11px -5px #000000);
   & img {
      opacity: .7;
   }
}
