/*
* components/header
*/

@charset "UTF-8";

// nav
nav.navbar {
   @include box-shadow(0 0 0 0 white);
   @include border-radius(0);
   border:none;
   margin: 0;
   background: white;
   & .container {
     position: relative;
   }
   &.sensitive-navbar {
      height:$navbar-height - 20;
      & .navbar-brand {
         line-height: $navbar-height - 20;
         height:$navbar-height - 20;
         & img {
            width : 80px;
         }
      }
      & ul {
         & > li {
            & > a {
               height:$navbar-height - 20;
               line-height: $navbar-height - 20;
            }
            & > ul {
               top: $navbar-height - 20;
            }
         }
      }
   }
   & .navbar-brand {
      line-height: $navbar-height / 2;
      height:$navbar-height / 2;
      padding: 0 15px;
      margin-left:auto;
      margin-right:auto;
      display: flex;
      align-items: center;
      float: none;
      justify-content: center;
      text-align: center;
      text-decoration: none;
      & img {
         width : 90px;
         display: inline-block;
         vertical-align: middle;
      }
      & .h1-like {
        @extend h1;
      }
      & h1,
      & .h1-like {
        font-size:25px;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 0;
      }
   }
   & ul.navbar-nav {
      border:none;
      height:$navbar-height / 2;
      background: inherit;
      display: block;
      float: none;
      text-align: center;
      &.account {
         float: right;
      }
      &.responsive-btn {
         display: none;
         position: absolute;
         right: 0;
         top: 0;
         & a {
            font-size : 30px;
         }
      }
      & > li {
         position: relative;
         display: inline-block;
         float: none;
         & > a {
            height:$navbar-height / 2;
            padding: 0 15px;
            font-size : 14px;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: $navbar-height / 2;
            color:#777777;
            &:hover, &:active, &:focus {
               background: inherit;
               color:$theme-color;
            }
         }
         & ul {
            opacity: 0;
            visibility: hidden;
            padding: 10px 0;
            text-align: left;
            width:220px;
            position: absolute;
            top:$navbar-height + 5;
            @include background-opacity($nav-dropdown-menu-bg, $nav-dropdown-menu-bg-opacity);
            z-index: 3;
            @include transition(all .2s);
            & li {
               position: relative;
               list-style-type: none;
               & a {
                  display: block;
                  padding: 2px 20px;
                  font-size: 14px;
                  color: $nav-dropdown-menu-bg + 150;
                  text-transform: uppercase;
                  letter-spacing: 1px;
                  & .navbar-icon {
                     float:right;
                     margin-left: 10px;
                  }
                  & span {
                     float:right;
                     color : $nav-dropdown-menu-bg + 300;
                  }
                  &:hover, &:active, &:focus {
                     background: inherit;
                     color : $nav-dropdown-menu-bg + 300;
                  }
               }
               & ul {
                  opacity: 0;
                  visibility: hidden;
                  padding: 10px 0;
                  text-align: left;
                  width:220px;
                  left:220px;
                  top:5px;
                  position: absolute;
                  z-index: 3;
               }
            }
         }
         &:hover > ul, & > ul li:hover > ul {
            opacity: 1;
            visibility: visible;
         }
         &:hover > ul {
            top:$navbar-height;
         }
         & > ul li:hover > ul {
            top:0;
         }
      }
   }
}
