/*
* components/jobs
*/

@charset "UTF-8";

.item-block {
   padding-bottom: 20px;
   margin-bottom: 20px;
   border-bottom: 1px solid #eeeeee;
   color : $grey;
   &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
   }
   & .row {
     @include respond-to(small-up) {
       display: flex;
       justify-content: space-around;
       align-items: center;
     }
   }
   & h5 {
      font-size: 18px;
      margin-bottom: 10px;
   }
   & ul {
      & li {
         & img {
            width : 20px;
            margin-right: 10px;
            margin-top: -3px;
         }
         padding-bottom: 0;
      }
   }
   & a {
     text-decoration: none;
   }
   & .block-name {

   }
   & .block-location {
      @include respond-to(small) {
        margin-top: 10px;
      }
   }
   & .block-more-btn {
     @include respond-to(small) {
        margin-top: 10px;
      }
   }
}
