/*
* components/pagination
*/

@charset "UTF-8";

.pagination {
   margin: 10px 0 25px;
   & li {
      &.active a {
         background: $theme-color;
         color : white;
         &:hover, &:active, &:focus {
            background: $theme-color;
            color : white
         }
      }
      &.disabled a {
         background: #f5f5f5;
         color : #cccccc;
         &:hover, &:active, &:focus {
            background: #f5f5f5;
            color : #cccccc;
         }
      }
      &:last-child a  {
         @include border-top-right-radius(50%);
         @include border-bottom-right-radius(50%)
      }
      &:first-child a  {
         @include border-top-left-radius(50%);
         @include border-bottom-left-radius(50%)
      }
      & a {
         margin: 0 5px;
         border:none;
         padding: 0;
         width:40px;
         height:40px;
         line-height: 40px;
         text-align: center;
         @include border-radius(50%);
         @include box-shadow($shadow);
         color : $theme-color - 30;
         &:active, &:hover, &:focus {
            color : $theme-color - 30;
            background: #f2f2f2;
         }
      }
   }
}
