//
// config/mixins
//
// @include clearfix;
@mixin clearfix {
  &:after,
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
@mixin fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// @include font-face($style-name, $file, $family, $weight, $style); */
@mixin font-face($style-name, $file, $family, $weight:"", $style:"") {
  $filepath: "assets/fonts/" + $family + "/" + $file;
  @font-face {
    font-family: "#{$style-name}";
    src: url($filepath + ".eot");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf") format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');

    @if $weight != "" {
      font-weight: #{$weight};
    }
    @else {
      font-weight: normal;
    }

    @if $style != "" {
      font-style: "#{$style}";
    }
    @else {
      font-style: normal;
    }
  }
}
// @include image-2x(/img/image.png, 100%, auto); */
@mixin image-2x($image, $width, $height) {
   @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx){
    background-image: url($image);
    background-size: $width $height;
  }
}
@function breakpoint($bp) {
  @if $bp == 'small' {
    @return '(max-width: #{$small})';
  }

  @else if $bp == 'medium' {
    @return '(max-width: #{$medium})';
  }

  @else if $bp == 'large' {
    @return '(max-width: #{$large})';
  }

  @else if $bp == 'small-up' {
    @return '(min-width: #{$small + 1})';
  }

  @else if $bp == 'medium-up' {
    @return '(min-width: #{$medium + 1})';
  }

  @else if $bp == 'large-up' {
    @return '(min-width: #{$large + 1})';
  }

  @else if $bp == 'retina' {
    @return '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)';
  }
}
@mixin respond-to($value) {
  $string: breakpoint($value);
  @media screen and #{$string} {
     @content;
  }
}
@mixin input-placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin box-shadow ($shadow, $s:auto, $s:auto) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin border-radius ($radius) {
    border-radius : $radius;
    -moz-border-radius : $radius;
    -o-border-radius : $radius;
    -ms-border-radius : $radius;
    -webkit-border-radius : $radius;
}

@mixin border-top-right-radius ($radius) {
    border-top-right-radius : $radius;
    -moz-border-top-right-radius : $radius;
    -o-border-top-right-radius : $radius;
    -ms-border-top-right-radius : $radius;
    -webkit-border-top-right-radius : $radius;
}

@mixin border-top-left-radius ($radius) {
    border-top-left-radius : $radius;
    -moz-border-top-left-radius : $radius;
    -o-border-top-left-radius : $radius;
    -ms-border-top-left-radius : $radius;
    -webkit-border-top-left-radius : $radius;
}

@mixin border-bottom-left-radius ($radius) {
    border-bottom-left-radius : $radius;
    -moz-border-bottom-left-radius : $radius;
    -o-border-bottom-left-radius : $radius;
    -ms-border-bottom-left-radius : $radius;
    -webkit-border-bottom-left-radius : $radius;
}

@mixin border-bottom-right-radius ($radius) {
    border-bottom-right-radius : $radius;
    -moz-border-bottom-right-radius : $radius;
    -o-border-bottom-right-radius : $radius;
    -ms-border-bottom-right-radius : $radius;
    -webkit-border-bottom-right-radius : $radius;
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin transition ($val){
    -webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    transition: $val;
}
