/*
* config/structure
*/

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
html {
    font-size:62.5%; /* REM use */
    height:100%;
    min-height:100%;
}

body {
  height:100%;
  overflow-x: hidden;
  background: $grey + 90;
  &.scroll-disabled {
    overflow: hidden;
  }
}

.page-loader {
   position: fixed;
   top:0;
   right:0;
   left:0;
   bottom:0;
   background: white;
   z-index: 999;
}
