/*
* config/type
*/

body {
  font: 400 14px "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 30px;
  color : $default-text-color;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  transition: all 300ms ease;
  color: $theme-color;
  text-decoration: underline;

  html.no-touchevents &:focus,
  &:hover {
    text-decoration: none;
    outline: none;
    color : $theme-color - 20;
  }

  &[href^="tel:"] {
    color: inherit;
    text-decoration: none;
  }

  &:not([href]):not([tabindex]) {
    color: #FFF;
    cursor: pointer;
  }
}

ul, ol {
   margin: 0;
   padding-left: 20px;
   &.simple {
      padding: 0 !important;
      & > li {
         list-style-type: none;
      }
   }
   & li {
      padding-bottom: 5px;
   }
   &.tag-list {
      list-style-type: none;
      padding: 0;
      & li {
         display: inline-block;
         margin-right: 5px;
         margin-bottom: 5px;
         & a {
            height:25px;
            line-height: 25px;
            display: inline-block;
            background: $grey;
            color : white;
            padding: 0 10px;
            @include border-radius(3px);
            &:hover, &:active, &:focus {
               background: $theme-color;
            }
         }
      }
   }
   &.companies-nav {
      list-style-type: none;
      padding: 0;
      & li {
         & a {
            font-size : 18px;
            padding:5px 15px;
            color : #555555;
         }
         &.active a {
            background: $theme-color;
         }
      }
   }
}

$heading-font-size : 40px;
h1, h2, h3, h4, h5, h6 {
   margin: 0;
   margin-bottom: 10px;
   font-weight: 700;
}

h1 {
  font-size: $heading-font-size;
}

h2 {
  font-size: $heading-font-size - 5;
}

h3 {
  font-size: $heading-font-size - 10;
}

h4 {
  font-size: $heading-font-size - 15;
}

h5 {
  font-size: $heading-font-size - 20;
}

h6 {
  font-size: $heading-font-size - 24;
  text-transform: uppercase;
  letter-spacing: 1px;
}

article {
   &.blog-post {
      &.with-card {
         @extend .card;
         & .blog-post-body {
            padding:20px 30px;
         }
      }
      & .blog-post-body {
         padding:20px 0
      }
      & header.blog-post-header {
         margin-bottom: 20px;
         & h2, & h4 {
            font-size : 40px;
         }
      }
      & .blog-post-detail {
         & h2, & h3, & h4, & h5 {
            margin-top: 30px;
         }
      }
      & .blog-post-description {
         margin-bottom: 20px;
      }
   }
}

hr {
   margin-bottom: 40px;
   margin-top: 40px;
   &.xs {
      margin-bottom: 10px;
      margin-top: 10px;
   }
   &.sm {
      margin-bottom: 20px;
      margin-top: 20px;
   }
   &.lg {
      margin-bottom: 60px;
      margin-top: 60px;
   }
}

blockquote {
   font: 18px/30px serif;
   color : #222222;
}
