/*
* config/utils
*/

.clear:after,
.clear:before {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
}
img:not(.media-object) {
   max-width: 100%;
}

figure {
   margin-bottom: 15px;
}

html.no-touchevents a:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

input:focus {
  outline: 0;
  box-shadow: none !important;
}

select {
  width: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 300ms ease;
}

.form-control {
  box-shadow: none;
  border-radius: 0;

  &:focus {
    box-shadow: none;
  }
}

.display-block {
  display: block;
}

.lowercase {
  text-transform: lowercase;
}

.no-js_visible {
  display: none;
  visibility: hidden;

  .no-js & {
    display: inherit;
    visibility: inherit;
  }
}


.a11y-sr-only,
.a11y-kb-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.a11y-kb-only:active,
.a11y-kb-only:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* margin (0px - 100px) */

$margin : 0;
@for $i from 1 through 21 {
   .m-#{$margin} { margin : 1px * $margin !important; }
   $margin : $margin + 5;
}

/* margin-top (0px - 100px) */

$margin-top : 0;
@for $i from 1 through 21 {
   .m-t-#{$margin-top} { margin-top : 1px * $margin-top !important; }
   $margin-top : $margin-top + 5;
}

/* margin-bottom (0px - 100px) */

$margin-bottom : 0;
@for $i from 1 through 21 {
   .m-b-#{$margin-bottom} { margin-bottom : 1px * $margin-bottom !important; }
   $margin-bottom : $margin-bottom + 5;
}

/* margin-left (0px - 100px) */

$margin-left : 0;
@for $i from 1 through 21 {
   .m-l-#{$margin-left} { margin-left : 1px * $margin-left !important; }
   $margin-left : $margin-left + 5;
}

/* margin-right (0px - 100px) */

$margin-right : 0;
@for $i from 1 through 21 {
   .m-r-#{$margin-right} { margin-right : 1px * $margin-right !important; }
   $margin-right : $margin-right + 5;
}

/* margin-top & margin-bottom (0px - 100px) */

$margin-t-b : 0;
@for $i from 1 through 21 {
   .m-t-b-#{$margin-t-b} { margin : (1px * $margin-t-b) 0 !important; }
   $margin-t-b : $margin-t-b + 5;
}

/* margin-left & margin-right (0px - 100px) */

$margin-l-r : 0;
@for $i from 1 through 21 {
   .m-l-r-#{$margin-l-r} { margin : 0 (1px * $margin-l-r) !important; }
   $margin-l-r : $margin-l-r + 5;
}

/* padding (0px - 100px) */

$padding : 0;
@for $i from 1 through 21 {
   .p-#{$padding} { padding : 1px * $padding !important; }
   $padding : $padding + 5;
}

/* padding-top (0px - 100px) */

$padding-top : 0;
@for $i from 1 through 21 {
   .p-t-#{$padding-top} { padding-top : 1px * $padding-top !important; }
   $padding-top : $padding-top + 5;
}

/* padding-bottom (0px - 100px) */

$padding-bottom : 0;
@for $i from 1 through 21 {
   .p-b-#{$padding-bottom} { padding-bottom : 1px * $padding-bottom !important; }
   $padding-bottom : $padding-bottom + 5;
}

/* padding-left (0px - 100px) */

$padding-left : 0;
@for $i from 1 through 21 {
   .p-l-#{$padding-left} { padding-left : 1px * $padding-left !important; }
   $padding-left : $padding-left + 5;
}

/* padding-right (0px - 100px) */

$padding-right : 0;
@for $i from 1 through 21 {
   .p-r-#{$padding-right} { padding-right : 1px * $padding-right !important; }
   $padding-right : $padding-right + 5;
}

/* padding-top & padding-bottom (0px - 100px) */

$padding-t-b : 0;
@for $i from 1 through 21 {
   .p-t-b-#{$padding-t-b} { padding : (1px * $padding-t-b) 0 !important; }
   $padding-t-b : $padding-t-b + 5;
}

/* padding-left & padding-right (0px - 100px) */

$padding-l-r : 0;
@for $i from 1 through 21 {
   .p-l-r-#{$padding-l-r} { padding : 0 (1px * $padding-l-r) !important; }
   $padding-l-r : $padding-l-r + 5;
}

/* height (50px - 500px) */

$height : 50;
@for $i from 1 through 10 {
   .h-#{$height} { height : 1px * $height !important; }
   $height : $height + 50;
}

/* font-size (10px - 50px) */

$font-size : 10;
@for $i from 1 through 41 {
   .f-s-#{$font-size} { font-size : 1px * $font-size !important; }
   $font-size : $font-size + 1;
}


iframe {
   width:100%;
   border:none;
   margin-bottom: 0;
}

.img-preview {
   width:200px;
   height:150px;
   position: relative;
   font-size : 20px;
   text-align: center;
   display: table;
   color : #999999;
   border:1px solid #dddddd;
   background-size: cover !important;
   background-position: 50% 0 !important;
   &:hover {
      border-color : #cccccc;
      color : #555555;
   }
   & input[type=file] {
      position: absolute;
      z-index: 1;
      top:0;
      left:0;
      right:0;
      bottom:0;
      opacity: 0;
      cursor: pointer;
   }
   & .icon {
      display: table-cell;
      vertical-align: middle;
   }
}

.circle-icon {
   background: $theme-color;
   width:120px;
   height:120px;
   margin: auto;
   @include border-radius(50%);
   margin-bottom: 15px;
   line-height: 120px;
   text-align: center;
   color : white;
   font-size : 35px;
   & .icon {
      font-size : 70px;
   }
   &.sm {
      width:80px;
      height:80px;
      line-height: 80px;
      font-size : 22px;
      & .icon {
         font-size : 45px
      }
   }
   &.lg {
      width:160px;
      height:160px;
      line-height: 160px;
      font-size : 45px;
      & .icon {
         font-size : 85px;
      }
   }
}

// icon
.icon {
   font-size : 30px;
   &.icon-sm {
      font-size : 14px;
   }
   &.icon-lg {
      font-size : 45px;
   }
   &.icon-xl {
      font-size : 60px;
   }
}

.content-logo {
   margin-bottom: 15px;
   & img {
      @include border-radius(50%);
      border:1px solid #eeeeee;
      width:100px;
      @include box-shadow($shadow)
   }
}

.content-row {
   margin-bottom: 20px;
}

.widget {
   margin-bottom: 30px;
   & .widget-title {
      margin-bottom: 20px;
   }
}

.skill-group {
   & h6 {
      color : #999999;
      font-size : 11px;
      font-weight: 400;
      margin-bottom: 15px;
      & span {
         color : black;
         &:before {
            content:"\2014";
            margin: 0 5px;
         }
      }
   }
   & .skill {
      height : 5px;
      background-color: #eeeeee;
      margin-bottom: 30px;
      @include border-radius(2px);
      overflow: hidden;
      & .skill-bar {
         height:100%;
         background-color: $theme-color;
      }
   }
}

.body-overlay {
   position: fixed;
   @include background-opacity(black, .2);
   top:0;
   right:0;
   left:0;
   bottom:0;
   z-index: 98;
}

.list-group {
   @include border-radius(0);
   border : 1px solid #eeeeee;
   & li {
      padding: 0;
      list-style-type: none;
   }
   & .list-group-item {
      @include border-radius(0);
      padding: 10px 20px;
      color: #7b7b7b;
      border:none;
      & span {
         float:right;
         text-transform: uppercase;
         font-size : 12px;
         color : #999999 + 30
      }
      &.active {
         background: $theme-color;
         color:white;
         & span {
            display: none;
         }
      }
   }
}

#map {
   height:400px;
}

.slider-handle {
   background: $theme-color;
}

.slider-selection {
   background: $grey + 70
}

.media {
   margin-bottom: 30px;
   & .media-left {
      padding-right:20px;
      & img {
         width:100px;
         @include border-radius(50%)
      }
   }
   & .media-body {
      & .media-heading {
         & small {
            font-style: italic;
            font-size : 12px;
            margin-left: 10px;
            vertical-align: middle;
         }
      }
      & .media {
         margin-top: 30px;
         margin-bottom: 0;
      }
   }
}

.label {
   font-weight: normal;
}

table.table {
   color : $grey;
   & > thead {
      & > tr > th {
         font-weight: 500;
         letter-spacing: 1px;
         font-size : 11px;
         text-transform: uppercase;
         border-bottom: none;
         padding:15px;
         color : $grey - 60
      }
   }
   & > tbody > tr > td {
      padding:15px;
      & h4 {
         font-size : 17px;
         margin: 0;
         font-weight: 400;
      }
   }
}

table.table-threadless {
   & > tbody > tr > td {
      padding:5px;
      font-size: 15px;
   }
}

table.table-horaires {
  width: 100%;
  tr > th {
    padding:5px 10px 5px 5px;
    line-height: 1.3;
    font-weight: 600;
  }
  tr > td {
    padding:5px 5px 5px 10px;
    font-size: 15px;
  }
  tr {
    border-bottom: 1px solid #DDD;
    &:last-of-type {
      border-bottom: 0;
    }
    &.current {
      background-color: lighten($theme-color, 40%);
    }
  }
}

.no-wrap {
  white-space: nowrap;
}

.text-small {
  font-size:70%;
}

.columns-2 {
  column-count: 2;
  column-gap: 20px;
}

.columns-3 {
  column-count: 2;
  column-gap: 20px;
  @include respond-to(small-up) {
    column-count: 3;
  }
}

.flex-center {
  @include respond-to(small-up) {
    display: flex;
    align-items: center;
  }
}
.flex-space-between {
  @include respond-to(small-up) {
    display: flex;
    justify-content: space-between;
  }
}

.typed-cursor{
   opacity: 1;
   -webkit-animation: blink 0.7s infinite;
   -moz-animation: blink 0.7s infinite;
   animation: blink 0.7s infinite;
}
@keyframes blink{
   0% { opacity:1; }
   50% { opacity:0; }
   100% { opacity:1; }
}
@-webkit-keyframes blink{
   0% { opacity:1; }
   50% { opacity:0; }
   100% { opacity:1; }
}
@-moz-keyframes blink{
   0% { opacity:1; }
   50% { opacity:0; }
   100% { opacity:1; }
}

::selection {
   background-color: #ccecec;
}

::-moz-selection {
   background-color: #ccecec;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
   section {
      &.page-header {
         padding-top: 50px;
         padding-bottom: 50px;
         & .page-header-menu {
            margin-top: 50px !important;
         }
      }
      & header.section-header {
         text-align: center !important;
      }
   }
}

@media (max-width: 768px) {
   .navs {
      width : 70% !important;
   }
   // Tab
   .tab ul.nav-tabs {
      border:none!important;
   }
   .tab ul.nav-tabs li {
      float:none !important;
      border:none!important;
      & a {
         border:none!important;
         padding: 10px 0 !important;
         & span.label {
            float:left;
            margin: 0 !important;
            margin-right: 10px !important;
            margin-top: 2px !important;
         }
      }
   }
}

@media (max-width: 992px) {
   section.main-page-header {
      padding: 100px 0;
      & h1 {
         font-size : 45px
      }
   }
   section {
      &.section-app-block {
         & .text-right {
            text-align: center !important;
         }
         text-align: center !important;
      }
   }
   nav.navbar {
      height:auto;
      & .navbar-nav.responsive-btn {
         display: inherit !important;
         margin: 0 !important;
      }
   }
   // navs
   .navs {
      position: fixed;
      width:50%;
      background: white;
      z-index: 99;
      right:0;
      display: none;
      top:0;
      bottom:0;
      padding: 15px 0;
      overflow: auto;
      @include box-shadow(8px -1px 14px 4px black);
      -webkit-animation-duration:  .3s;
      -moz-animation-duration:     .3s;
      -o-animation-duration:       .3s;
      animation-duration:          .3s;
      &.open {
         display: inherit;
      }
      & .navbar-nav {
         text-align: left !important;
         height:auto!important;
         float:none !important;
         display: block !important;
         margin: 0 !important;
         &.account {
            padding-bottom: 15px;
            margin-bottom: 15px !important;
            border-bottom : 1px solid #eeeeee;
         }
         &:last-child {
            border:none;
         }
         & li {
            display: inherit !important;
            float:none !important;
            padding-bottom: 0;
            & a {
               height:auto!important;
               line-height: inherit !important;
               color : #7b7b7b!important;
               padding: 10px 30px !important;
               @include transition(background .3s);
               & .navbar-icon {
                  display: none;
               }
               &:hover, &:active, &:focus {
                  background: #eeeeee !important;
                  color : #333333!important;
               }
            }
            & ul {
               padding: 0 !important;
               padding-left: 30px !important;
               width:auto !important;
               opacity:1 !important;
               visibility: visible !important;
               display: none;
               position: static !important;
               background: inherit !important;
            }
         }
      }
   }
   // Jobs list
   .item-block {
      &:last-child {
         border : 1px solid #dddddd;
         padding: 25px;
      }
      border : 1px solid #dddddd;
      border-bottom:none;
      padding: 25px;
      margin-bottom: 0;
   }
   // Responsive footer
   footer {
      padding: 15px 0;
      & .copyright {
         text-align: left !important;
      }
      & .social-icons {
         margin-bottom: 10px;
      }
   }
}

@media (min-width: 992px) {
   .body-overlay {
      display: none !important;
   }
}
