//
// config/variables
//

// ---------------------------------
// Breakpoints

// Best practise : (max-width: $BP) and (min-width: ($BP + 1))
$small: 980px !default;
$medium: 1024px !default;
$large: 1280px !default;

$container-width: 1200px;


// ---------------------------------
// Couleurs

$default-text-color : #555555;
$theme-color: #00ccff;
$navbar-height: 120px;
$nav-dropdown-menu-bg: #333333;
$nav-dropdown-menu-bg-opacity: .8;
$shadow: 0px 2px 7px -5px #000000;

$facebook      : #3b5999;
$twitter       : #55acee;
$google        : #dd4b39;
$youtube       : #cd201f;
$linkedin      : #0077B5;
$instagram     : #e4405f;
$vine          : #00b489;
$flickr        : #ff0084;
$skype         : #00AFF0;
$dribbble      : #ea4c89;
$whatsapp      : #25D366;

$green         : #4caf50;
$lime          : #cddc39;
$blue          : #2196f3;
$red           : #f44336;
$pink          : #e91e63;
$purple        : #9c27b0;
$teal          : #009688;
$yellow        : #ffeb3b;
$orange        : #ff9800;
$brown         : #795548;
$grey          : #9e9e9e;

/* Status colors  */
$success       : #d0f1c2;
$danger        : #f2dede;
$info          : #d9edf7;
$warning       : #f9f1ca;
